    <header></header>
    <main>
        <div id="needsToBeEaten" class="column">
            <div id="eatThemBurgers">
                <ul class="hamburgerGroups">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li id="hamburgers" class="list-group-item">
                        <div>{{burger_name}}</div>
                        <button class="devourMeButton" data-burger={{id}}>Eat Me!</button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div id="welcomeCommittee" class="column">
            <h1>Good Burger</h1>
            <h3>Welcome to Good Burger!</h3>
            <h3>Home of the Good Burger!</h3>
            <h3>Can I take your order?</h3>
        </div>
        <div id="devoured" class="column">
            <div id="eatThemBurgers">
                <ul class="hamburgerGroups">
                    {{#each burgers}}
                    {{#if devoured}}
                    <li id="hamburgers" class="list-group-item">
                        <div>{{burger_name}}</div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </main>    
    <form>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter burger name here:</label>
            <input type="text" id="burger" name="name"></input>
        </div>
        <button type="button" id="formButton" class="btn btn-primary">Submit</button>
    </form>